
@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    ion-icon {
        font-size: 28px;
    }

    @media screen and (min-width: 640px) {
        ion-icon {
            font-size: 32px;
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #c8c8c8;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #b4b4b4;
    }
}

@layer components {
    #palette-colors {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(3, 38px);
        grid-auto-columns: 38px;
        gap: 0.5rem;
        justify-content: start;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        padding: 0 1rem;
        width: 100%;
        box-sizing: border-box;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    #palette-colors::-webkit-scrollbar {
        display: none;
    }

    .palette-cbox {
        width: 38px;
        height: 38px;
        cursor: pointer;
        border: 2px solid black;
        flex-shrink: 0;
    }

    .shadow-dropdown {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    #canvas-wrapper {
        outline: 2px solid black;
    }

    #pixel-preview {
        box-shadow: inset 0 0 0 2px #000000;
    }

    #canvas,
    #canvas-wrapper,
    .pixelated {
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}